.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 0.8rem;
}

#bg {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.8rem;
}