<div class="card">
    <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="1" [totalRecords]="3"></p-paginator>
</div>
<div class="card">
    <p-card *ngIf="first ==0 " header="Choose Your File" subheader="" [style]="{ width: '800px' }">
        <ng-template pTemplate="footer"></ng-template>
        <div>
            <p-fileUpload (onSelect)="onSelectFile($event)" name="myfile[]" [auto]="true"></p-fileUpload>
        </div>
        <div class="card">
            <p-button (click)="onNextClick()">Next</p-button>
        </div>
    </p-card>

    <p-card *ngIf="first==1" header="Database Configs" subheader="" [style]="{ width: '900px' }">

        <div class="card flex justify-content-center">
            <span class="p-float-label">
                <input pInputText id="database" [(ngModel)]="config.database" />
                <label htmlFor="database">database</label>
            </span>
        </div>
        <div class="card flex justify-content-center">
            <span class="p-float-label">
                <input pInputText id="schema" [(ngModel)]="config.schema" />
                <label htmlFor="schema">schema</label>
            </span>
        </div>
        <ng-template pTemplate="footer"></ng-template>
        <div class="card">
            <p-button (click)="onNextClick()">Next</p-button>
        </div>
    </p-card>

    <p-card *ngIf="first == 2" header="Entity Properties" subheader="" [style]="{ width: '900px' }">
        <app-entity (entityEmitter)="getEntity($event)"></app-entity>
    </p-card>
</div>