.card {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    width: 600px;
}

.minInput {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.Column {
    margin: 20px;
}

p-inputNumber {
    margin-left: 40px;
    margin-top: 10px;
}

.selectedFile {
    display: flex;
    align-items: center;
    justify-content: space-around;
}